<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Satisfaction</h3>
              </div>

              <div class="card">
                <GChart type="ColumnChart" :data="chartData" />
              </div>
            <div class="card-header">
                <h3 class="card-title">Project Analysis</h3>
              </div>

              <div class="card">
                <GChart type="PieChart"  :data="data"/>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</template>

<script>

    import { GChart } from "vue-google-charts";

    export default {
        components: { GChart },
        data () {
            return {
                users: [],
                projects:[],
                data: [
                    ['Group', 'Test'],
                    ['Documents',     14],
                    ['No Documents',      1]
                ],


                options: { width: 1100,height: 400},
                chartData: [
                    ['User', 'Satsfaction'],
                    ['Limo', 80],
                    ['Peter', 70],
                    ['Alex', 60],
                    ['Lisa', 30]
                ],
            }
        },
        methods: {

            async loadUsers(){
                this.$Progress.start();

                if(this.$gate.isAdmin()){
                    axios.get("api/user").then(({ data }) => (
                        this.users = data.data.data
                    ));
                }
                this.$Progress.finish();
            },
            async loadProjects(){
                axios.get("api/project")
                .then(({ data }) => (
                    this.projects = data.data.data
                ));
            },
        },
        mounted() {

        },
        async created() {
            await this.loadUsers();
            await this.loadProjects();
        }
    }

</script>
