<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Project List</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-sm btn-primary" @click="newModal">
                      <i class="fa fa-plus-square"></i>
                      Add New
                  </button>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Link</th>
                      <th>Status</th>
                      <th>Image</th>
                      <th>Video</th>
                      <th>Document</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr v-for="project in projects.data" :key="project.id">
                      <td>{{project.name}}</td>
                      <td>{{project.description }}</td>
                      <td>{{project.link}}</td>
                      <td>{{project.status}}</td>
                      <td><img v-bind:src="getPath(project.image)" width="50" height="50" /></td> <!--<img :src="project.image" />-->
                      <td><embed v-bind:src="getPath(project.video)" width="80" height="80"></embed>
                      </td>
                      <td><pdf ref="pdf" :src="getPDF(project.document)" style="width: 50%;width: 50%;" /></td>
                      <td>

                        <a href="#" @click="editModal(project)">
                            <i class="fa fa-edit blue">Edit</i>
                        </a>
                        /
                        <a href="#" @click="deleteProject(project.id)">
                            <i class="fa fa-trash red">Delete</i>
                        </a>
                        /
                        <a href="#" @click="projectUsers(project)">
                            <i class="fa fa-eye blue">Users</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="users" role="dialog" aria-labelledby="users" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Project Assignees</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <ol>
                                    <li v-for="(user,index) in selected" :key="index" :value="user" > {{ user  }}</li>
                                </ol>
                            </div>
                            <div class="form-group">
                                <label>Select Below</label>
                                <v-select  multiple v-model="selected" :options="options" />
                            </div>
                            <button type="submit" class="btn btn-primary" @click="updateProjectUsers">Update Assignees</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode">Create New Project</h5>
                    <h5 class="modal-title" v-show="editmode">Edit Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="editmode ? updateProject() : createProject()" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input v-model="form.name" type="text" name="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input v-model="form.description" type="text" name="description"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                            <has-error :form="form" field="description"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Link</label>
                            <input v-model="form.link" type="text" name="price"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                            <has-error :form="form" field="price"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" v-model="form.status">
                              <option v-for="(status,index) in statuses" :key="index" :value="status" :selected="form.status">{{ status }}</option>
                            </select>
                            <has-error :form="form" field="status"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" name="image"    class="form-control" id="inputFileUpload" @change="previewImage" >
                        </div>
                        <div class="form-group">
                            <label>Video</label>
                            <input class="form-control" type="file" @change="previewVideo" >
                        </div>
                        <div class="form-group">
                            <label>Document</label>
                            <input class="form-control" type="file" @change="previewDocument" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    import pdf from 'vue-pdf'
    import Embed from 'v-video-embed'
    export default {
        components: {VueTagsInput,pdf,Embed},
        data () {
            return {
                editmode: false,
                projects : {},
                selected: [],
                statuses: [
                    'active',
                    'incomplete',
                    'ongoing',
                    'stuck'
                ],
                form: new Form({
                    id:'',
                    name: '',
                    description: '',
                    link:  '',
                    status: '',
                    image: null,
                    document: null,
                    video: null,
                }),
                project:{},
                users:[],
            }
        },
        computed: {
            options(){
                return this.users.map(user => user.name);
            }
        },
        methods: {

            previewImage(event) {
                this.form.image = event.target.files[0];
            },

            previewVideo(event) {
                this.form.video = event.target.files[0];
            },

            previewDocument(event) {
                this.form.document = event.target.files[0];
            },

            getPath(path){
              return `/storage/${path}`
            },

            getPDF(path){
              return `/storage/${path}`
            },

            loadProjects(){
                axios.get("api/project")
                .then(({ data }) => (
                    this.projects = data.data
                ));
            },

            editModal(product){
                this.editmode = true;
                $('#addNew').modal('show');
                this.form.fill(product);
            },

            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },

            createProject(){
                this.$Progress.start();
                const config = { headers: { 'content-type': 'multipart/form-data'}}

                let data = new FormData()



                data.set('name', this.form.name)
                data.set('link', this.form.link)
                data.set('document', this.form.document)
                data.set('description', this.form.description)
                data.set('status', this.form.status)
                data.set('image', this.form.image)
                data.set('video', this.form.video)
                data.set('document', this.form.document)




                axios.post('api/project', data ,config)
                .then((data)=>{
                    if(data.data.success){
                    $('#addNew').modal('hide');

                    Toast.fire({icon: 'success',title: data.data.message});
                    this.$Progress.finish();
                    this.loadProjects();

                    } else {
                        Toast.fire({icon: 'error',title: 'Some error occured! Please try again'});
                        this.$Progress.failed();
                    }
                })
                .catch(()=>{
                    Toast.fire({icon: 'error',title: 'Some error occured! Please try again'});
                })
            },

            updateProject(){
                this.$Progress.start();
                axios.put('api/project/'+this.form.id)
                .then((response) => {
                    $('#addNew').modal('hide');
                    Toast.fire({icon: 'success',title: response.data.message});
                    this.$Progress.finish();
                    this.loadProjects();
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },

            deleteProject(id){
                Swal.fire({title: 'Are you sure?',text: "You won't be able to revert this!",showCancelButton: true,confirmButtonColor: '#d33',cancelButtonColor: '#3085d6',confirmButtonText: 'Yes, delete it!'}).then((result) => {

                if (result.value) {
                    axios.delete('api/project/'+id).then(()=>{
                        Swal.fire('Deleted!','Your file has been deleted.','success');
                        this.loadProjects();
                    }).catch((data)=> {Swal.fire("Failed!", data.message, "warning")});
                }})
            },

            projectUsers(project){
                this.project = project
                $('#users').modal('show');
            },

            updateProjectUsers(){
                console.log(this.project.id),
                console.log(this.selected)
            },

            loadUsers(){
                this.$Progress.start();

                if(this.$gate.isAdmin()){
                    axios.get("api/user").then(({ data }) => (
                        this.users = data.data.data
                    ));
                }
                this.$Progress.finish();
            },
        },
        mounted() {},
        created() {
            this.$Progress.start();
            this.loadProjects();
            this.$Progress.finish();
            this.loadUsers();
        }
    }
</script>
